@import url(https://fonts.googleapis.com/css?family=Roboto:300);
input[type="file"] {
  display: none;
}
.custom_file_upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.Header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2px;
  margin-bottom: 5px;
}
.Name{
  font-size: large;
  padding-left: 20px;
  margin-right: auto;


}
.Body{
  display: flex;
  flex-direction: column;
}
.Body input{
  margin-bottom: 5px;
}
.Body label{
  margin-bottom: 5px;
}
.Body button{
  margin-bottom: 5px;
}
.Chat{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.texts{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.low_text{
  display: flex;
  flex-direction: row;
}
.right{
  margin-left: auto;
}

.left{
  margin-right: auto;
}
