@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.Header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

}
.Body{
  display: flex;
  flex-direction: column;
}
.Body button{
  margin-bottom: 5px;
}
.Chat{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.texts{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.low_text{
  display: flex;
  flex-direction: row;
}
.right{
  margin-left: auto;
}

.left{
  margin-right: auto;
}
